# Dependencies
node_modules/

# Mac OS
.DS_Store

# Forge
.forge
.env

# Build Outputs
dist/
build/
static/admin-build/

# Parcel (Frontend Build Tool)
.parcel-cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
